// custom

$color-black: #0A0A0A;
$color-white: rgb(252, 248, 248);
$color-bg: #0e0e0ea2;
$colour-secondary: #dd361c;
$colour-button:#061f4a;


$medium-width: 768px;

// bootstrap
$theme-colors: (
  'primary': $color-black,
  'dark': $color-black,
);


$font-size-base: 1rem !default;
$h1-font-size: $font-size-base * 3.5 !default;
$h2-font-size: $font-size-base * 2 !default;



$dropdown-font-size: 32px;

$headings-font-weight: 0 !default;


h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: $headings-font-weight;
}

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1200px
) !default;
$navbar-dark-color: $color-white !default;

$navbar-light-toggler-border-color: $color-black !default;
$navbar-light-color: $color-white !default;
$navbar-light-hover-color:  $color-white !default;
$navbar-light-active-color: $color-white !default;      
$navbar-light-brand-color: $color-white !default;               
$navbar-light-brand-hover-color: $color-white !default;
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='#{$navbar-dark-color}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

$nav-tabs-link-active-color: $color-white !default;
$nav-link-disabled-color: rgb(218, 218, 218) fff !default;
//$nav-tabs-link-active-border-color: $colour-secondary !default;


$link-hover-color: $color-white !default;

$jumbotron-color: $color-black !default;
$jumbotron-bg: $color-white !default;

$border-radius: 3px;

$body-bg: $color-white;

$card-bg: #0e0e0e;
$card-cap-bg: $color-black;


$info: $colour-secondary !default;