//Launch
.launches, .events {
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.launches{
	padding: 0 25px;

	.launch {
		display: flex;
		flex-direction: row;
		background: #0e0e0e5d;
		border: $color-secondary solid 1px;
		gap: 10px;
		border-radius: 10px;
			overflow: hidden;
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 2rem;
	
		@media (max-width: 1024px) {
			display: flex;
			flex-direction:column;
		}
	
		.row {
		width: 100%;
		}
	
		.launch-image {
			width: 240px;
			min-width: 240px;
			min-height: 240px;
			background-position: center;
			background-size: cover;

			@media (max-width: 1024px) {
				width: 100%;
				max-height: 90px;
			}
		}
	
	}
	
	.launch-block {
		display: block;
		width: 100%;
		height: 100%;
		
			max-width: 300px;
			max-height: 300px;
			min-height: 300px;
			min-width: 300px;
	}
	
	.launch-info {
		color: $color-white;
		padding: 10px;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
	
		p {
			font-size: 1rem;
			margin: 0;
			text-align: left;
		}
	}

	
}




//Events

.events {
	padding: 0 25px;

	h3:hover{
		color: $color-white;
		text-decoration: underline $color-secondary;
	}

	p{
		padding-top: 1rem;

		@media (max-width: 567px) {
			padding-top: 0.5rem;
		}
	}

	.event {
		background: #0e0e0e2a;
		display: flex;
		justify-content: center;
		border: $color-button solid 3px;
		gap: 15px;
		margin-top: 2rem;
		margin-bottom: 2rem;

		@media (max-width: 1024px) {
			display: flex;
			flex-direction:column;
		}

		.event-info {
			flex: 1 0 0px;
			
			border-radius: 10px;
			padding: 10px;

			.event-title {
				font-weight: bold;
				text-decoration: none;
				font-size: 1.25rem;

				:hover {
					color:$color-black;
				}
			}

			.event-minor {
				font-weight: 600;
				color: $color-white;

				@media (max-width: 768px) {
					display: flex;
					flex-direction:column;
				}

				.event-type {
					padding-top: 1rem;
					text-transform: uppercase;
					font-weight: bold;
					color: #22a6b3;
					border-radius: 10px;
				}
			}
		}

		img {
			width: 250px;
			border-radius: 10px;

			@media (max-width: 1024px) {
				width: 100%;
			}
		}

	}

}

