.index {
	margin-top: 7rem;
	margin-bottom: 7rem;
	background-color: $colour-headerfooter;
	color: $colour-white;

	h2{
		padding-bottom: 1rem;
	}

	&__description{
		padding-top: 0;
		width: 50rem;	
		font-size: 18px;
		margin-top: 2rem;
		text-align: left;
		margin-left: auto;
		margin-right: auto;

			@media (max-width: 576px) {
				margin-left: 1.5rem;
				margin-right: 1.5rem;
				width: auto;
			}
				
	}
	
	&__blockquote {
		background-color: $colour-headerfooter;
		color: $colour-white;
		text-align: center;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 1rem;

		q{
			margin-top: 3rem;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			margin-left: 2rem;
			margin-right: 2rem;
		}

		@media (max-width: 576px) {
			margin-left: 0.5rem;
			max-width: 550px;
			padding: 5px;
		}

		.blockquote-footer{
			color: $colour-white;
		}
	}


}

.explore__buttons{
	display: flex;
	justify-content: space-evenly;
  align-items: center;
	margin-bottom: 3rem;

	@media (max-width: 576px) and (max-width: 768px) {
		flex-direction: column;
	}

	.btn-explore {
		background-color: $colour-white;
		border-radius: 50%;
		height: 200px;
		width: 200px;
		border: solid;
		font-size: 24px;
		font-family: $font-navlink;
		font-weight: 500;

		@media (max-width: 576px) and (max-width: 768px) {
			font-size: 24px;
			margin-bottom: 1.5rem;
		}
		
		&:hover {
			background-color: $colour-button;
			color: $colour-secondary;
			text-decoration: underline;
			text-decoration-style: solid;
			text-decoration-thickness: 3px;
			text-decoration-color: $colour-secondary;
			-webkit-text-decoration-color: $colour-secondary;
			-webkit-text-decoration-thickness: 3px ;
			-webkit-text-decoration-style: solid ;
		}
	}

}

.NASA-Image{
	background-color: #000;
	color: #fff;
}

.dailyimage{

	.heading{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.Nasa-APOD{
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-top: 2rem;
		padding-left: 2rem;

		@media (max-width: 576px) and (max-width: 768px) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}
	
	p{
		padding-left: 3rem;
		max-width: 37rem;

		@media (max-width: 576px) and (max-width: 768px) {
			padding-left: 1rem;
			padding-right: 1rem;
		}
	}

	@media (max-width: 576px) and (max-width: 768px) {
		display: flex;
		flex-direction: column;
	}
}
