.index {
	
	.jumbotron{
	margin-top: 7rem;
	margin-bottom: 7rem;
	background-color:$color-bg;
	color: $color-white;

		h1, h2, p{
			color: $color-white;
		}

		p {
			padding-top: 1.5rem;
		}

		h2{
			padding-bottom: 1rem;
		}
		.blockquote-footer{
			color: $color-white;
			padding-top: 0.5rem;
			font-size: 14px;
		}
	}
}



.explore__buttons{
	display: flex;
	justify-content: space-evenly;
  align-items: center;
	margin-bottom: 3rem;

	@media (max-width: 768px) {
		flex-direction: column;
	}

	.btn-explore {
		background-color: $color-white;
		border-radius: 50%;
		height: 200px;
		width: 200px;
		border: solid;
		font-size: 24px;
		font-family: $font-navlink;
		font-weight: 500;

		@media (max-width: 768px) {
			font-size: 24px;
			margin-bottom: 1.5rem;
		}
		
		&:hover {
			background-color: $color-button;
			color: $color-secondary;
			text-decoration: underline;
			text-decoration-style: solid;
			text-decoration-thickness: 3px;
			text-decoration-color: $color-secondary;
			-webkit-text-decoration-color: $color-secondary;
			-webkit-text-decoration-thickness: 3px ;
			-webkit-text-decoration-style: solid ;
		}
	}

}

.NASA-Image{
	background-color: #000;
	color: #fff;
}

.dailyimage{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-left: 1.5rem;

	h1 {
		@media (max-width: 576px) {
			font-size: 2.5rem;
		}
	}

	.heading{
		margin-top: 1rem;
		margin-bottom: 1rem;
	}

	.Nasa-APOD{
		margin-top: 1rem;
		margin-bottom: 1rem;
		padding-top: 2rem;
	}
	
	p{
		padding-top: 2.5rem;
		max-width: 45rem;
	}

	@media (max-width: 1024px) {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
