.background-image{
	background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
}


.explore__buttons{
	display: flex;
  justify-content: space-evenly;
  align-items: center;
	margin-bottom: 3rem;

	.btn-explore {
		background-color: $colour-white;
		border-radius: 50%;
		height: 200px;
		width: 200px;
		border: solid;
		font-size: 24px;
		font-family: $font-navlink;
		font-weight: 500;

		@media (max-width: 576px) and (max-width: 768px) {
			font-size: 24px;
			width: 300px;
		}
		
		&:hover {
			background-color: $colour-button;
			color: $colour-secondary;
			text-decoration: underline;
			text-decoration-style: solid;
			text-decoration-thickness: 3px;
			text-decoration-color: $colour-secondary;
			-webkit-text-decoration-color: $colour-secondary;
			-webkit-text-decoration-thickness: 3px ;
			-webkit-text-decoration-style: solid ;
		}
	}
}


.page-intro {
	margin-top: 7rem;
	margin-bottom: 7rem;
	background-color: $colour-headerfooter;
	color: $colour-white;

	@media (min-width: 768px) and (max-width: 1024px) {
		height: 550px;
		margin-top: 4rem;
	}
  
  .row {
		height: 300px;
		margin-bottom: 7rem;

    @media (min-width: 300px) and (max-width: 1080px) {
      height: auto;
    }
	}

	&__blockquote {
		background-color: $colour-headerfooter;
		color: $colour-white;
		text-align: center;
		max-width: 700px;
		margin-left: auto;
		margin-right: auto;

		q{
			margin-top: 3rem;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}

		@media (min-width: 768px) and (max-width: 1024px) {
			margin-left: 2rem;
			margin-right: 2rem;
		}

		@media (max-width: 576px) {
			margin-left: 0.5rem;
			max-width: 550px;
			padding: 5px;
		}
	}

		p {
			font-size: 18px;
			margin-top: 2rem;
			text-align: center;
			max-width: 1200px;
			margin-left: auto;
			margin-right: auto;

			@media (min-width: 768px) and (max-width: 1024px) {
				text-align: left;
			}

			@media (max-width: 576px) {
				text-align: left;
				margin-left: 1.5rem;
				margin-right: 1.5rem;
			}
			
		}
		
	  .blockquote-footer{
		color: $colour-white;
		text-align: center;
		margin-left: auto;
		margin-right: auto;

	}

}

.NASA-Image{
	background-color: #000;
	color: #fff;
}