.marsprogram{
	&__rovers{
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		
		h3{
			text-align: center;
		}


		.rover-tabs{
			.tab-content{
				background-color: black;
				color: white;
				padding:1em;
				min-height: 200px;
				border-radius: 12px 12px 12px 12px;
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
				margin-top: -10px;
				padding-top: 20px;

				h3{
					margin-top: 2.5rem;
				}
				p{
					margin-top: 3rem;
				}
			}
			.nav{
				background-color: #0E0E0E;
			}

			.nav-item{
				color: white;
			}
			.nav-item.active{
				color: white;
			}

			.nav-tabs .nav-link.active, 
			.nav-tabs .nav-item.show .nav-link{
				color: white;
				background-color: black;
				border-color: black;
				border-radius: 12px 12px 0;
				margin-bottom: -10px;
				padding-bottom: 10px;
			}

			.rover-image{
				margin-top: 5rem;
				max-width: 300px;
				max-height: 700px;
				min-height: 350px;
			}
		}
		
	}
}