.marsprogram{
	&__rovers{
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		
		h3{
			text-align: center;
		}


		.rover-tabs{
			.tab-content{
				background-color:$color-black;
				color: $color-white;
				padding:1em;
				min-height: 200px;
				border-radius: 12px 12px 12px 12px;
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.05);
				margin-top: -10px;
				padding-top: 20px;

				h3{
					margin-top: 2.5rem;
				}
				p{
					margin-top: 3rem;
				}
			}
			.nav{
				background-color:$color-bg;
			}

			.nav-item{
				color: $color-white;
			}
			.nav-item.active{
				color: $color-white;
			}

			.nav-tabs .nav-link.active, 
			.nav-tabs .nav-item.show .nav-link{
				font-size: 22px;
				color: $color-white;
				background-color:$color-black;
				border-color:$color-black;
				border-radius: 12px 12px 0;
				margin-bottom: -10px;
				padding-bottom: 10px;
			}

			.rover-image{
				margin-top: 5rem;
				max-width: 300px;
				max-height: 700px;
				min-height: 350px;
			}
		}
		
	}
	.btn-explore {
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		background-color: $color-white;
		color:$color-black;
		border-radius: 20px;
		width: 50%;
		border: solid;
		font-size: 24px;
		font-family: $font-navlink;
		font-weight: 500;
	
		@media (max-width: 768px) {
			font-size: 24px;
			margin-bottom: 1.5rem;
			width: 100%;
		}
		
		&:hover {
			background-color: $color-button;
			color: $color-secondary;
			text-decoration: underline;
			text-decoration-style: solid;
			text-decoration-thickness: 3px;
			text-decoration-color: $color-secondary;
			-webkit-text-decoration-color: $color-secondary;
			-webkit-text-decoration-thickness: 3px ;
			-webkit-text-decoration-style: solid ;
		}
	}
}
