.telescope{
	display: flex;
	justify-content: space-between;

	.telescope__information{
		padding-top: 1rem;
		background-color: #0e0e0ea2;
		padding-right: 1rem;
		padding-left: 1rem;

		p{
			padding-top: 1rem;
		}
		
	}

	.telescope-image{
		max-height: 40rem;
		margin-bottom: 3rem;

	}

	.webbvideo{
		margin-top: 2rem;

		@media (max-width: 768px) {
			margin-left: 1rem;
		}
	
	}

}

	
		

