
@font-face {
  font-family: 'Voyager';
  src: local('Voyager'), url(../../fonts/Voyager/VoyagerLight.woff) format('woff');
}


//Typography

$font-h1: 'Jura', sans-serif;
$font-h2: 'Voyager', sans-serif;
$font-h3: 'Montserrat', sans-serif;
$font-navlink: 'Roboto Mono', monospace;
$font-p: 'Open Sans', sans-serif; 



h1 {
  color: $color-white;
  font-family: $font-h1;
	padding-top: 1.5rem;
	text-align: center;
	font-weight: 600;

}

.jumbotron{
	h1, p{
		color:$color-black;
	}
}



h2 {
  color: $color-white;
  font-family: $font-h2;
	text-align: center;
	font-weight: 600;
	padding-bottom: 2rem;
}

h3 {
	color: $color-white;
	font-family: $font-h3;
	font-weight: 500;
}

.nav-link {
  color: $color-white;
  font-family: $font-navlink;
}

p {
	color: $color-white;
  font-family: $font-p;
	font-size: 20px;
	max-width: 50rem;
	
	@media (max-width: 576px) {
		font-size: 16px;
  }
}

q {
  font-family: $font-navlink;
	font-size: 32px;
	max-width: 20rem;
	text-align: center;
	margin-left: auto;
	margin-right: auto;

	@media (max-width: 576px) {
		font-size: 28px;
  }
}
